@import "tailwindcss";

html, body, #root {
  background-color: #dbeafe;
}

@theme {
  --color-ivory:      #faf7f0;
  --color-ivory-dark: #f0ead8;
  --color-gold:       #b8974a;
  --color-gold-light: #d4af68;
  --color-gold-dark:  #8c6e2f;
  --color-warm-dark:  #7a1c1c;
  --color-warm-darker: #4a0a0a;

  --font-serif: 'Cormorant Garamond', serif;
  --font-sc:    'Cormorant SC', serif;
  --font-sans:  'Jost', sans-serif;
  --font-prata: 'Prata', serif;
  --font-display: 'Lilita One', sans-serif;
}
